table th {
    border: 2px solid red;
    padding: 15px;
   
    
}
td{
    border: 1px solid black;
    padding: 10px;
}
body{
    text-align: center;
    display: flex;
    justify-content: center;
}
table{
    margin-top: 10%;
    /* display: flex; */
    flex-wrap: wrap;
}